@import "tailwindcss";

body {
  background: #fff;
  color: #222;
  font-family: var(--font-montserrat);
}

p,
li,
a {
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cormorant-garamond);
}